*,
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F4F4EB;
  font-family: 'Poppins', serif;
  font-weight: 900;
  line-height: 1;
}

body {
  background-color: #121212;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.work-container {
  width: 100%;
}

p {
  color: #F4F4EB;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.675em;
}

ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: .9rem;
  color: #2AEC78;
}

ul li {
  margin-bottom: 1rem;
}

h1 {
  max-width: 100%;
  font-size: 13vw;
  letter-spacing: -0.018125em;
}

h2 {
  font-size: 10vw;
  letter-spacing: -0.0225em;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: -0.018125em;
  line-height: 2.8rem;
}

h4 {
  font-size: 1em;
  letter-spacing: -0.018125em;
}

a {
  color: #F4F4EB;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  transition: 0.3s;
  padding-bottom: 0.313rem;
}

img {
  display: block;
  max-width: 100%;
}

.italic-text {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: normal;
}

.btn {
  line-height: 1.75rem;
  color: #F4F4EB;
}

/* NAVIGATION STYLING ////////////////////////////// */

.top-navbar a:nth-child(-n + 1) {
  margin-right: 4.5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2AEC78;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3.375rem 0;
}

#logo {
  margin: 0;
  max-width: 3.125rem;
}

/* MEDIA QUERY */

@media (max-width: 375px) {
  
  .top-navbar {
    padding: 2rem 0 3.375rem 0;
  }

  .top-navbar a {
    letter-spacing: 0.063rem;
  }

  .top-navbar a:nth-child(-n + 2) {
    margin-right: .8rem;
  }

  #logo {
    max-width: 2.5rem;
  }

}

/* HERO SECTION STYLING ////////////////////////////// */

.hero-navigation {
  display: flex;
  flex-wrap: wrap;
}

.section-link {
  border: 1px solid #F4F4EB;
  border-radius: 50px;
  padding: .5rem 1.5rem;
  margin: 1.5rem 1.5rem 0 0;
  transition: 0.3s;
}

.section-link:hover {
  border: 1px solid #2AEC78;
  background-color: #2AEC78;
  color: #121212;
}

.hero-container {
  width: 100%;
}

.hero-content {
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 0 0 5rem 0;
  max-width: 69.375;
  border-bottom: 1px solid #F4F4EB;
}

.hero-content p {
  font-size: 2em;
  line-height: 1.5em;
  margin: 3rem 0 8rem 0;
  width: 50%;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

  .hero-content p {
    font-size: 1.5em;
    margin: 3rem 0 2rem 0;
    width: 100%;
  }

}

/* WORK SECTION STYLING ////////////////////////////// */

.project-section {
  margin: 20rem 0 0 0;
}

.project-section h2 {
  margin-bottom: 10rem;
}

.project-section p {
  font-size: 2em;
  line-height: 1.5em;
  margin: 3rem 0 8rem 0;
  width: 70%;
}

.project-container ul li {
  margin-bottom: 5rem;
}

.project-link {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 100;
  font-size: 8vw;
  letter-spacing: -0.0225em;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

  .project-section {
    margin: 5rem 0 10rem 0;
  }

  .project-container ul li {
    margin-bottom: 2rem;
  }

  .project-section h2 {
    margin-bottom: 5rem;
  }

  .project-section p {
    font-size: 1.5em;
    margin: 3rem 0 8rem 0;
    width: 100%;
  }

}

/* EXPERIMENTS SECTION STYLING ////////////////////////////// */

.experiments-block {
  display: flex;
  justify-content: space-between;
}

.experiment-project {
  width: 48%;
}

@media (max-width: 768px) {

  .experiments-block {
    flex-direction: column;
  }

  .experiment-project {
    width: 100%;
  }

  .experiment-project:nth-child(1n+2) {
    margin: 4rem 0 0 0;
  }

}

/* ABOUT PAGE STYLING ////////////////////////////// */

.about-container {
  margin-top: 9.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container img {
  width: 100%;
  max-width: 33.75rem;
}

.about-content {
  max-width: 21.875rem;
  margin: 0 auto;
  padding: 3.125rem 0 3.125rem 0;
}

.about-content p {
  margin-top: 2.125rem;
  margin-bottom: 2.25rem;
}

.inline-link {
  color: #F4F4EB;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  line-height: 1.875em;
  text-decoration: underline;
  text-transform: none;
  letter-spacing: 0px;
}

.inline-link:hover {
  color: #2AEC78;
}

.process-container {
  margin: 10rem 0 0 0;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

  .about-container {
    flex-direction: column;
  }

  .profile-image {
    margin-bottom: 2rem;
  }

  .about-content {
    max-width: 33.75rem;
  }
}

/* CONTACT SECTION STYLING ////////////////////////////// */

.contact-section {
  width: 100%;
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-section h3 {
  max-width: 40%;
  padding: 0;
}

.divider {
  margin: 0;
  width: 30%;
  height: 1px;
  background-color: #DDDCDE;
}

.contact-btn {
  border: 1px solid #F4F4EB;
  border-radius: 50px;
  padding: .5rem 1.5rem;
  transition: 0.3s;
}

.contact-btn:hover:hover {
  border: 1px solid #2AEC78;
  background-color: #2AEC78;
  color: #121212;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

  .contact-section {
    flex-direction: column;
    text-align: center;
    margin: 7.188rem 0 0 0;
  }

  .divider {
    display: none;
  }

  .contact-section h3 {
    max-width: 100%;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  
}

/* FOOTER SECTION STYLING ////////////////////////////// */

footer {
  margin-top: 9.375rem;
  padding: 1.5rem 0;
  background-color: #121212;
  color: #fff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar a {
  color: #FFF;
}

.footer-navbar-brand {
  margin: 0;
  max-width: 3.125rem;
  margin-right: 3rem;
}

footer .nav-menu a:nth-child(-n + 2) {
  margin-right: 3rem;
}

.social-block a:nth-child(-n + 2) {
  margin-right: 1rem;
}

.social-block {
  display: flex;
}

/* MEDIA QUERY */

@media (max-width: 768px) {

  footer {
    padding: 3.5rem 0;
    margin-top: 4rem;
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-navbar {
    flex-direction: column;
  }

  .footer-navbar nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .footer-navbar-brand {
    margin: 0 0 3rem 0;
    max-width: 2.5rem;
  }

  footer .footer-nav-menu a:nth-child(-n + 2) {
    margin: 0 0 2rem 0;
  }

  .social-block {
    margin-top: 3rem;
  }

}