*,
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
p,
a {
  margin: 0;
}

h1,
h2,
h3 {
  color: #33323D;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  line-height: 1;
}

body {
  background-color: #FAFAFA;
}

p {
  color: #33323D;
  font-family: 'Public Sans', sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}



h1 {
  font-size: 3.125em;
  letter-spacing: -0.028125em;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -0.0225em;
}

h3 {
  font-size: 2em;
  letter-spacing: -0.018125em;
}

a {
  color: #33323D;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

img {
  display: block;
  max-width: 100%;
}

.top-navbar a:nth-child(-n + 2) {
  margin-right: 2.5rem;
}

a:hover {
  color: #5FB4A2;
}

.container {
  max-width: 68.75rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 3.375rem 0;
}

#logo {
  margin: 0;
  max-width: 3.125rem;
}

@media (max-width: 375px) {
  
  .top-navbar {
    padding: 2rem 0 3.375rem 0;
  }

  .top-navbar a {
    letter-spacing: 0.063rem;
  }

  .top-navbar a:nth-child(-n + 2) {
    margin-right: 0.5rem;
  }

  #logo {
    max-width: 2.5rem;
  }

}

.active-page {
  color: #5FB4A2;
}

/* HERO SECTION STYLING Styling ////////////////////////////// */

.hero-container {
  background-image: url("../img/homepage/desktop/image-homepage-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 37.5rem;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  background-color: #FFF;
  max-width: 29rem;
  padding: 3.5rem 3.5rem 0 0;
}

.hero-mobile-display {
  display: none;
}

@media (max-width: 768px) {

  .hero-container {
    background-image: url("../img/homepage/tablet/image-homepage-hero.jpg");
    background-size: cover;
    min-height: 16.875rem;
    padding: none;
    width: 100%;
  }

  .hero-content {
    display: none;
  }

  .hero-mobile-display {
    display: block;
    padding: 1.5rem 0 0 0;
    background: none;
  }

  .hero-heading {
    font-size: 2.5em;
    width: 100%;
  }
}

.primary-btn {
  display: flex;
  align-items: center;
  background-color: #203A4C;
  width: 12.625rem;
  min-height: 3rem;
  margin-top: 3.375rem;
}

.icon-btn {
  background-color: #1D3445;
  min-height: 100%;
}

.icon-btn img {
  margin: 1.1rem 1rem;
}

.btn-text {
  padding: 0 2.375rem 0 2.375rem;
  color: #FFF;
}

/* ABOUT SECTION STYLING Styling ////////////////////////////// */

.about-container {
  margin-top: 9.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-container img {
  width: 100%;
  max-width: 33.75rem;
}

.about-content {
  max-width: 21.875rem;
  margin: 0 auto;
  padding: 3.125rem 0 3.125rem 0;
  border-top: 1px solid #DDDCDE;
  border-bottom: 1px solid #DDDCDE;
}

.about-content p {
  margin-top: 2.125rem;
  margin-bottom: 2.25rem;
}

.secondary-btn {
  padding: 1rem 2rem;
  line-height: 1.75rem;
  border: 1px solid #33323D;
}

.secondary-btn:hover {
  background-color: #33323D;
  color: #FAFAFA;
  transition: 0.3s;
}

@media (max-width: 768px) {

  .about-container {
    flex-direction: column;
  }

  .profile-image {
    margin-bottom: 2rem;
  }

  .about-content {
    max-width: 33.75rem;
  }
}

/* PROJECTS SECTION STYLING ////////////////////////////// */

.projects-container {
  margin-top: 9.375rem;
}

.project-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.projects-container img {
  width: 100%;
  max-width: 33.75rem;
}

.projects-content {
  max-width: 21.875rem;
  height: 500px;
  margin: 0 auto;
  padding: 6.125rem 0 6.125rem 0;
  border-top: 1px solid #DDDCDE;
  border-bottom: 1px solid #DDDCDE;
}

.projects-content p {
  margin-top: 2.125rem;
  margin-bottom: 2.25rem;
}

@media (max-width: 768px) {

  .projects-container {
    margin-top: 2rem;
  }

  .project-block {
    flex-direction: column;
  }

  .project-reversed {
    flex-direction: column-reverse;
  }

  .profile-image {
    margin-bottom: 2rem;
  }

  .projects-content {
    max-width: 33.75rem;
  }
}

/* CONTACT SECTION STYLING ////////////////////////////// */

.contact-container {
  margin-top: 9.375rem;
  padding: 1.1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container h2 {
  max-width: 21.875rem;
}

.divider {
  width: 34%;
  max-width: 33.375rem;
  padding: 0.5px 0;
  background-color: #DDDCDE;
}

@media (max-width: 768px) {

  .contact-container {
    flex-direction: column;
    text-align: center;
    margin: 7.188rem 0 0 0;
  }

  .divider {
    display: none;
  }

  .contact-container h2 {
    margin-bottom: 3rem;
  }
  
}

/* FOOTER SECTION STYLING ////////////////////////////// */

footer {
  margin-top: 9.375rem;
  padding: 1.5rem 0;
  background-color: #33323D;
  color: #fff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar a {
  color: #FFF;
}

.footer-navbar-brand {
  margin-right: 3rem;
}

footer .nav-menu a:nth-child(-n + 2) {
  margin-right: 3rem;
}

.social-block a:nth-child(-n + 2) {
  margin-right: 1rem;
}

.social-block {
  display: flex;
}

@media (max-width: 768px) {

  footer {
    margin-top: 4rem;
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-navbar {
    flex-direction: column;
  }

  .footer-navbar nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .footer-navbar-brand {
    margin: 0 0 3rem 0;
  }

  footer .footer-nav-menu a:nth-child(-n + 2) {
    margin: 0 0 2rem 0;
  }

  .social-block {
    margin-top: 3rem;
  }

}